---
import Layout from '../layouts/Layout.astro';
import TopHeader from '../components/TopHeader.astro'
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Maira Diaz">
	<TopHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<HeroSection />
		</div>
	</main>
</Layout>
