---
import { Icon } from 'astro-icon'
---

<section class="h-screen w-screen text-center relative overflow-hidden">
  <div class="items-center grid grid-cols-2">
    <div class="h-screen py-16 pl-14 ">
      <div class="grid grid-cols-1 mt-[2rem] gap-y-16 text-left ">
        <div class="gap-y-2 flex flex-col p-2">
          <div class="flex gap-2">
            <div class="relative mt-2 rounded-full bg-[#FDC435] w-4 h-4 outline-offset-2 outline-dashed outline-1 outline-[#FDC435]"/>
            <h3 class="uppercase font-medium text-2xl">Koko Fashion</h3>
          </div>
          <h3 class="uppercase font-medium text-gray-700 underline underline-offset-2">Diseñadora de Modas</h3>
          <div>
            <p class="pr-6">
              Creación de colecciones y desarrollo de diseños 
              para clientes de grandes superficies con licencias de Disney y 
              Marvel. Seguimiento del desarrollo de muestras, elaboración de 
              fichas técnicas, apoyo a la parte comercial con clientes.
            </p>
          </div>
          <div class="flex gap-6">
            <div class="border-2 px-4 py-2 rounded-sm font-medium flex gap-2 bg-[#FDC435] border-[#FDC435] cursor-pointer">
              <span class="w-6 h-6">
                <Icon name="mdi:account" />
              </span>
              Laura Salazar
            </div>
            <div class="border-2 px-4 py-2 rounded-sm font-medium flex gap-2 bg-[#FDC435] border-[#FDC435] cursor-pointer">
              <span class="w-6 h-6">
                <Icon name="mdi:calendar-clock" />
              </span>
              2 Años
            </div>
            <div class="border-2 px-4 py-2 rounded-sm font-medium flex gap-2 bg-[#FDC435] border-[#FDC435] cursor-pointer">
              <span class="w-6 h-6">
                <Icon name="mdi:phone" />
              </span>
              305 7124949
            </div>
          </div>
          
        </div>
        <div class="gap-y-2 flex flex-col p-2">
          <div class="flex gap-2">
            <div class="relative mt-2 rounded-full bg-[#FDC435] w-4 h-4 outline-offset-2 outline-dashed outline-1 outline-[#FDC435]"/>
            <h3 class="uppercase font-medium text-2xl">Comercializadora Jarnix</h3>
          </div>
          <h3 class="uppercase font-medium text-gray-700 underline underline-offset-2">Diseñadora Patronista</h3>
          <div>
            <p class="pr-6">
              Realización de propuestas de diseño para la marca 
              Azul y Blanco( Millonarios FC), patronaje y fichas técnicas de los 
              diseños aprobados y trazos para producción.
            </p>
          </div>
          <div class="flex gap-6">
            <div class="border-2 px-4 py-2 rounded-sm font-medium flex gap-2 bg-[#FDC435] border-[#FDC435] cursor-pointer">
              <span class="w-6 h-6">
                <Icon name="mdi:account" />
              </span>
              Sindy Agudelo
            </div>
            <div class="border-2 px-4 py-2 rounded-sm font-medium flex gap-2 bg-[#FDC435] border-[#FDC435] cursor-pointer">
              <span class="w-6 h-6">
                <Icon name="mdi:calendar-clock" />
              </span>
              1 Año
            </div>
            <div class="border-2 px-4 py-2 rounded-sm font-medium flex gap-2 bg-[#FDC435] border-[#FDC435] cursor-pointer">
              <span class="w-6 h-6">
                <Icon name="mdi:phone" />
              </span>
              6083301
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-screen py-16 pl-14 ">
      <div class="grid grid-cols-1 mt-[2rem] gap-y-14 text-left ">
        <div class="gap-y-2 flex flex-col p-2">
          <div class="flex gap-2">
            <div class="relative mt-2 rounded-full bg-[#FDC435] w-4 h-4 outline-offset-2 outline-dashed outline-1 outline-[#FDC435]"/>
            <h3 class="uppercase font-medium text-2xl">Diseñadora y Patronista Freelance</h3>
          </div>
          <div>
            <p class="pr-6">
              Actualmente presto el servicio de diseño y 
              patronaje freelance a diferentes empresas que soliciten ese 
              apoyo en el proceso de la creaación de colecciones 
              deportivas y de pijameria, entregando molderia, ficha técnica y 
              trazos de producción de los diseños requeridos.
            </p>
          </div>
        </div>
        <div class="gap-y-2 flex flex-col p-2">
          <div class="flex gap-2">
            <div class="relative mt-2 rounded-full bg-[#FDC435] w-4 h-4 outline-offset-2 outline-dashed outline-1 outline-[#FDC435]"/>
            <h3 class="uppercase font-medium text-2xl">Modinco S.A.</h3>
          </div>
          <h3 class="uppercase font-medium text-gray-700 underline underline-offset-2">Diseñadora de Línea y desarrolladora de producto</h3>
          <div>
            <p class="pr-6">
              Realización de fichas técnicas, cotizaciones, 
              bocetos, patronaje, direccionamiento de proceso de muestras, 
              seguimiento a producción, revisión de calidad en prenda 
              terrminada.
            </p>
            <p>
              Presentación de colecciones deportivas, infantiles y dama 
              exterior.
            </p>
            <p>
              Apoyo a la parte comercial con clientes nacionales y de 
              exportación
            </p>
          </div>
          <div class="flex gap-6">
            <div class="border-2 px-4 py-2 rounded-sm font-medium flex gap-2 bg-[#FDC435] border-[#FDC435] cursor-pointer">
              <span class="w-6 h-6">
                <Icon name="mdi:account" />
              </span>
              Karol Mojica
            </div>
            <div class="border-2 px-4 py-2 rounded-sm font-medium flex gap-2 bg-[#FDC435] border-[#FDC435] cursor-pointer">
              <span class="w-6 h-6">
                <Icon name="mdi:calendar-clock" />
              </span>
              6 Años
            </div>
            <div class="border-2 px-4 py-2 rounded-sm font-medium flex gap-2 bg-[#FDC435] border-[#FDC435] cursor-pointer">
              <span class="w-6 h-6">
                <Icon name="mdi:phone" />
              </span>
              301 3741070
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>