<section id="Home" class="h-screen w-screen text-center relative overflow-hidden">
  <div class="items-center grid grid-cols-2">
    <div class="h-screen py-16 pl-14  ">
      <div class="grid grid-cols-1 mt-[4rem] gap-y-2 text-left ">
        <h2 class="text-[#FDC435] text-[1.25rem] uppercase font-medium">Diseñadora - Patronista de Moda</h2>
        <h1 class="font-bold text-6xl ">Maira Helena Diaz</h1>
        <div class="mt-2 text-gray-600">
          <p>Diseñadora de Modas y patronista con experiencia en líneas 
            infantil, femenina y masculina, deportiva y pijameria.
            Experiencia en desarrollo de colecciones y trabajo de la mano 
            de clientes nacionales de grandes superficies y de exportación, 
            cumpliendo con todos los requerimientos del cliente, 
            aportando a las ideas iniciales, detalles de calidad e 
            industrialización de las prendas, cuento con experiencia en 
            desarrollo de colecciones de licencias de Disney.
          </p>
          <p>
            Cuento con la habilidad para trabajar y liderar equipos de 
            múltiples funciones del departamento de diseño, buenas 
            relaciones interpersonales, responsable, proactiva, con gran 
            capacidad para resolver problemas, con interés en la 
            actualización profesional.
          </p>
        </div>
        <div class="mt-4 flex gap-x-6">
          <button class="border-2 border-solid border-black px-6 py-2 rounded-lg font-medium hover:bg-[#FDC435] hover:border-[#FDC435] transition-colors">Whatsapp</button>
          <button class="border-2 border-solid border-black px-6 py-2 rounded-lg font-medium hover:bg-[#FDC435] hover:border-[#FDC435] transition-colors">Telefono</button>
          <button class="border-2 border-solid border-black px-6 py-2 rounded-lg font-medium hover:bg-[#FDC435] hover:border-[#FDC435] transition-colors">Email</button>
        </div>
      </div>
      
    </div>
    <div class="flex justify-center items-center">
      <img
        src="/perfil.png"
        alt="Maira Diaz"
        class="bg-[#FDC435] object-cover rounded-full w-96 h-96 outline-dashed outline-2 outline-offset-8 outline-[#FDC435]"
      />
    </div>
  </div>
</section>