---
import { Icon } from 'astro-icon'
---

<section id="Skills" class="h-screen w-screen text-center relative overflow-hidden">
  <div class="items-center flex flex-col">
    <div class="w-full mt-16">
      <div>
        <h2 class="uppercase font-medium text-xl">Patronaje Digital</h2>
      </div>
      <div class="py-4 px-28  flex justify-between">
        <div>
          <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
            <Icon class="text-white" name="mdi:pencil-ruler" />
          </div>
          <h3 class="mt-4 font-medium">Optitex PDS</h3>
        </div>
        <div>
          <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
            <Icon class="text-white" name="mdi:pencil-ruler" />
          </div>
          <h3 class="mt-4 font-medium">Optitex Marker</h3>
        </div>
        <div>
          <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
            <Icon class="text-white" name="mdi:ruler-square-compass" />
          </div>
          <h3 class="mt-4 font-medium">Audaces Patrones</h3>
        </div>
        <div>
          <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
            <Icon class="text-white" name="mdi:ruler-square-compass" />
          </div>
          <h3 class="mt-4 font-medium">Audaces Trazo</h3>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="grid grid-cols-2">
        <h2 class="uppercase font-medium text-xl">Diseño Digital</h2>
        <h2 class="uppercase font-medium text-xl">Idiomas</h2>
      </div>
      <div class="py-4 grid grid-cols-2">
        <div class="pr-16 pl-28">
          <div class=" flex justify-between">
            <div>
              <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
                <Icon class="text-white" name="mdi:palette-outline" />
              </div>
              <h3 class="mt-4 font-medium">Adobe Illustrator</h3>
            </div>
            <div>
              <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
                <Icon class="text-white" name="mdi:palette-outline" />
              </div>
              <h3 class="mt-4 font-medium">Corel Draw</h3>
            </div>
          </div>
        </div>
        <div class="">
          <div class=" flex justify-center">
            <div>
              <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
                <Icon class="text-white" name="mdi:earth" />
              </div>
              <h3 class="mt-4 font-medium">English - B1</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="h-screen py-16 pl-16  ">
      <div class="grid grid-cols-1 mt-[1rem] gap-y-2">
        <h2 class=" text-[1.25rem] uppercase font-medium text-center">Diseñadora - Patronista de Moda</h2>
        <div class="py-4 px-6 flex justify-between">
          <div>
            <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
              <Icon class="text-white" name="mdi:pencil-ruler" />
            </div>
            <h3 class="mt-4 font-medium">Optitex PDS</h3>
          </div>
          <div>
            <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
              <Icon class="text-white" name="mdi:pencil-ruler" />
            </div>
            <h3 class="mt-4 font-medium">Optitex Marker</h3>
          </div>
        </div>
        <div class="py-4 px-6 flex justify-between">
          <div>
            <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
              <Icon class="text-white" name="mdi:ruler-square-compass" />
            </div>
            <h3 class="mt-4 font-medium">Audaces Patrones</h3>
          </div>
          <div>
            <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
              <Icon class="text-white" name="mdi:ruler-square-compass" />
            </div>
            <h3 class="mt-4 font-medium">Audaces Trazo</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="h-screen py-16 pr-16  ">
      <div class="grid grid-cols-1 mt-[1rem] gap-y-2">
        <h2 class=" text-[1.25rem] uppercase font-medium text-center">Diseñadora - Patronista de Moda</h2>
        <div class="py-4 px-6 flex justify-between">
          <div>
            <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
              <Icon class="text-white" name="mdi:pencil-ruler" />
            </div>
            <h3 class="mt-4 font-medium">Optitex PDS</h3>
          </div>
          <div>
            <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
              <Icon class="text-white" name="mdi:pencil-ruler" />
            </div>
            <h3 class="mt-4 font-medium">Optitex Marker</h3>
          </div>
        </div>
        <div class="py-4 px-6 flex justify-between">
          <div>
            <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
              <Icon class="text-white" name="mdi:ruler-square-compass" />
            </div>
            <h3 class="mt-4 font-medium">Audaces Patrones</h3>
          </div>
          <div>
            <div class="bg-[#FDC435] p-8 w-48 h-48 rounded-full outline-dotted outline-offset-8 outline-2 outline-[#FDC435] ">
              <Icon class="text-white" name="mdi:ruler-square-compass" />
            </div>
            <h3 class="mt-4 font-medium">Audaces Trazo</h3>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</section>