<header class="py-3 px-10 flex fixed top-0 w-full z-40">
  <div class="w-full flex justify-between">
    <div class="py-2">
      <h1 class="text-gray-700 font-medium">Maira Helena Diaz</h1>
    </div>
    <nav class="">
      <ul class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:font-medium [&>li>a]:text-current [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 justify-end">
        <li><a href="#">Acerca de mi</a></li>
        <li><a href="#">Experiencia</a></li>
        <li><a href="#">Habilidades</a></li>
        <li><a href="#">Referencias</a></li>
      </ul>
    </nav>
  </div>
</header>